:root {
  --background: white;
  --text: black;
  --primary: blue;
  --active: darkblue;
  --border: black;
  --code: deeppink;
}

html[data-theme="dark"] {
  --background: black;
  --text: white;
  --border: white;
}
