/* Anonymice Pro Nerd Font */
@font-face {
  font-family: "Anonymice Pro Nerd Font";
  src: url(../font/AnonymousPro/AnonymiceProNerdFont-Regular.ttf)
    format(truetype);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Anonymice Pro Nerd Font";
  src: url(../font/AnonymousPro/AnonymiceProNerdFont-Bold.ttf) format(truetype);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Anonymice Pro Nerd Font";
  src: url(../font/AnonymousPro/AnonymiceProNerdFont-Italic.ttf)
    format(truetype);
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Anonymice Pro Nerd Font";
  src: url(../font/AnonymousPro/AnonymiceProNerdFont-BoldItalic.ttf)
    format(truetype);
  font-weight: 900;
  font-style: italic;
}
