@import url(reset.css);

body {
  background-color: var(--background);
  color: var(--text);
}

#nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--background);

  display: flex;
  padding: 0.25rem;

  z-index: 1;

  #theme-toggle {
    margin-left: auto;

    a:hover,
    a:focus {
      color: white;
      background-color: blue !important;
    }

    a:active {
      background-color: darkblue !important;
    }
  }
}

#light-toggle {
  color: white;
  background-color: blue;
}

#dark-toggle {
  color: var(--text);
  background-color: var(--background);
}

html[data-theme="dark"] {
  #light-toggle {
    color: var(--text);
    background-color: var(--background);
  }

  #dark-toggle {
    color: white;
    background-color: blue;
  }
}
