@import url(reset.css);

body {
  background-color: var(--background);
  color: var(--text);
}

#nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--background);
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .links {
    display: flex;
    gap: 0.25rem;
    padding: 0.25rem;
  }

  .separator {
    height: auto;
    width: 1px;
    background-color: var(--text);
  }

  #theme-toggle {
    display: flex;
    gap: 0.25rem;
    padding: 0.25rem;

    a:hover,
    a:focus {
      color: white;
      background-color: blue !important;
    }

    a:active {
      background-color: darkblue !important;
    }
  }
}

#light-toggle {
  color: white;
  background-color: blue;
}

#dark-toggle {
  color: var(--text);
  background-color: var(--background);
}

html[data-theme="dark"] {
  #light-toggle {
    color: var(--text);
    background-color: var(--background);
  }

  #dark-toggle {
    color: white;
    background-color: blue;
  }
}

.nf-icon {
  padding-right: 0.25rem;
}
