@import url(reset.css);

main {
  height: 100vh;
  scroll-snap-type: y proximity;
  overflow-y: scroll;
}

section {
  scroll-snap-align: start;
  min-height: 100vh;
}

#hero {
  padding: 3rem;
  display: grid;
  place-content: center;
  text-align: center;

  img {
    height: 256px;
    margin: auto;
  }

  #title {
    margin-block: 3rem;
  }

  h1,
  h2 {
    margin: 0;
  }

  #names {
    display: grid;
    place-content: center;
    cursor: pointer;

    span {
      grid-column: 1;
      grid-row: 1;
      opacity: 0;
      transition: opacity ease-in-out 300ms;
    }

    .show {
      opacity: 1 !important;
    }
  }

  #links {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    gap: 1rem;

    a {
      color: black;
      background-color: white;
      border: 2px solid black;
      padding: 4px;
      outline: none;
      font-size: 1.25rem;
    }

    a:hover {
      border-color: blue;
      color: blue;
    }

    a:focus {
      border-color: blue;
      color: blue;
    }

    a:active {
      border-color: darkblue;
      color: white;
      background-color: darkblue;
    }
  }
}

#about-me {
  padding: 3rem;
}

#projects {
  padding: 3rem;

  .card-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .card {
      display: flex;
      flex-direction: column;
      border: 2px solid black;
      padding: 1rem;
      gap: 1rem;
      width: 300px;

      .card-img {
        margin-bottom: 1rem;
      }

      .card-title {
        font-size: 1.5rem;
      }
    }
  }
}

#contact {
  padding: 3rem;
}
