@font-face {
  font-family: "Nokia Cellphone FC";
  src: url(nokia_cellphone/nokiafc22.ttf);
}

#app,
main {
  height: 100vh;
  overflow: hidden;
}

main {
  display: grid;
  place-content: center;
}

#phone {
  box-sizing: border-box;
  display: flex;

  height: 600px;
  width: 280px;

  flex-direction: column;
  justify-content: space-between;

  padding: 30px;
  padding-top: 100px;
  padding-bottom: 50px;

  background-color: #23293b;

  border-top-left-radius: 50px 160px;
  border-top-right-radius: 50px 160px;
  border-bottom-left-radius: 36px 260px;
  border-bottom-right-radius: 36px 260px;
}

#screen {
  font-family: "Nokia Cellphone FC";
  font-size: 1.25rem;

  color: black;
  background-color: #769c65;
  border: 1px solid black;

  aspect-ratio: 7/4;
  padding: 4px;
  word-break: break-all;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }

  50.0001%,
  100% {
    opacity: 0;
  }
}

#ibeam {
  display: inline-block;
  height: 1em;
  width: 12px;
  background-color: black;
  animation: blink 1s steps(1, end) infinite;
}

#ibeam.typing {
  animation: none !important;
}

#keypad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4px;
}

#keypad > button {
  height: 56px;
  font-size: 1.25rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@media (pointer: none), (pointer: coarse) {
  body {
    display: contents;
  }

  #phone {
    display: flex;

    height: 100vh;
    width: 100vw;
    border-radius: 0 !important;

    flex-direction: column;
  }

  #screen {
  }
}
