@import "./font.css";

:root {
  --background: white;
  --text: black;
  --primary: blue;
  --active: darkblue;
  --border: black;
  --code: deeppink;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --text: white;
    --border: white;
  }
}

body {
  min-height: 100vh;
  color: var(--text);
  background: var(--background);
  line-height: 1.4;
  font-family: "Anonymice Pro Nerd Font", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;

  outline: none;
}

body {
  margin: 0;
  font-family: "Anonymice Pro Nerd Font", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: var(--background);
  text-decoration: none;
  position: relative;
  background-color: var(--text);
  padding-inline: 4px;
}

a:hover {
  color: white;
  background-color: blue !important;
}

a:active {
  color: white;
  background-color: darkblue !important;
}

code {
  font: inherit;
  color: deeppink;
}
p,
li {
  font-size: clamp(14px, 1.5vw + 1rem, 20px);
}
