@import "./font.css";

:root {
  --background: white;
  --text: black;
  --border: black;
  --primary: blue;
  --active: darkblue;
  --code: deeppink;
}

html[color-scheme="light"] {
  --background: white;
  --text: black;
  --border: black;
}

html[color-scheme="dark"] {
  --background: black;
  --text: white;
  --border: white;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  outline: none;
}

body {
  min-height: 100vh;
  color: var(--text);
  background: var(--background);
  line-height: 1.4;
  font-family: "Anonymice Pro Nerd Font", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-family: "Anonymice Pro Nerd Font", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: var(--background);
  text-decoration: none;
  position: relative;
  background-color: var(--text);
  padding-inline: 4px;
  box-sizing: border-box;
}

a:hover {
  color: white !important;
  background-color: blue !important;
}

a:active {
  color: white !important;
  background-color: darkblue !important;
}

a:focus {
  outline: 2px solid blue;
}

code {
  font: inherit;
  color: deeppink;
}

form > * {
  display: block;
}

button,
input,
textarea,
select {
  font: inherit;
  border: 2px solid var(--border);
  color: var(--text);
  background-color: var(--background);
  padding: 0.25rem 0.5rem;
}

button {
  font-family: inherit;
  font-size: 1rem;
  max-width: fit-content;
  padding: 0.25rem 1.75rem;
}

button:hover {
  color: white;
  background-color: blue;
}

button:active {
  background-color: darkblue;
}

button:focus,
input:focus,
textarea:focus {
  border-color: blue;
}

textarea {
  height: 200px;
  width: 400px;
}

kbd {
  background-color: grey;
  color: black;
  padding: 0.25rem;
}

.radio,
.checkbox {
  --size: 18px;

  display: flex;
  gap: 0.25rem;
  padding: 0.25rem;

  input[type="radio"],
  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
    height: var(--size);
    width: var(--size);
    position: relative;
    padding: 0.25rem;
    align-self: center;
  }

  input[type="radio"]::after,
  input[type="checkbox"]::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  input[type="radio"]:checked::after {
    background-color: white;
    height: 10px;
    width: 10px;
  }

  input[type="checkbox"]:checked::after {
    content: "ï€Œ";
  }
}

.card-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: stretch;
  grid-auto-flow: row dense;
  gap: 1rem;
  box-sizing: border-box;

  .card {
    display: flex;
    flex-direction: column;
    color: var(--text);
    background-color: var(--background);
    border: 2px solid var(--border);
    padding: 1rem;
    gap: 1rem;
    outline: none;

    .card-img {
      margin-bottom: 1rem;
    }

    .card-title {
      font-size: 1.5rem;
    }
  }

  .card:hover {
    color: var(--text);
  }

  .card:focus {
    border-color: var(--primary);
  }
}
