@import "./base.css";

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-color: var(--background);
  color: var(--text);
}

main {
  flex-grow: 1;
  max-width: 800px;
  margin: auto;
  padding: 1rem;
}

.nf-icon {
  font-family: "Anonymice Pro Nerd Font";
  padding-right: 0.25rem;
}
